# Postgres (docker-compose)
EW_DB_USERNAME=eosc
EW_DB_PASSWORD=eosc
POSTGRES_DB=eosc_widgets_development
POSTGRES_PORT=5432

# Application database URL (used by ActiveRecord)
DATABASE_URL=postgres://eosc:eosc@localhost:5432/eosc_widgets_development

# Redis (docker-compose)
REDIS_PORT=6379
REDIS_URL="redis://localhost:${REDIS_PORT}/0"

# Rack/Sinatra
RACK_ENV=development
SESSION_SECRET=your_secret_here